body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 44);
}

p{
    color: navy;
}

body p:nth-child(odd){
    color: red;
}